.second-block{
    gap:2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-item-text{
    color: #000;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.welcome-text{
    width: 25.4375rem;
    color: #000;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
